.env
.env.backup
.env.backup.*

.idea
.vscode
.eclipse

.venv
__pycache__

.swc
*/.swc
**/.swc/**

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

.terraform/*
**/.terraform/
**/.terraform/*
**/.terraform/**

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

*.js
**/*.js
**/*.map
**/*.d.ts

.DS_Store

*.tgz
*.zip

coverage

build

*.tsbuildinfo
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

*.log

openapitools.json

certificate.crt
private.pem
public.pem

front-end

data-dump

us-east-2-bundle.pem

router.cache.json

!globals.d.ts
!react-app-env.d.ts

!scripts/*.js
!scripts/**/*.js

!config/*.js
!config/**/*.js

!public/*.js
!public/**/*.js

.documentation