/***
 * Common Break-Points
 *  - 320px—480px: Mobile devices
 *  - 481px—768px: iPads, Tablets
 *  - 769px—1024px: Small screens, laptops
 *  - 1025px—1200px: Desktops, large screens
 *  - 1201px and more— Extra large screens, TV
 */

@mixin inline-code() {
    font-size: 87.5%;
    padding: 0.2em 0.4em;
    background-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
    margin-right: 0.1rem;
}

@mixin media-selector() {
    h2 {
        margin-left: 0.0rem;
        margin-right: 0.0rem;
    }

    p {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}